

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background: linear-gradient(to right, pink, lightblue);
    font-family: 'Fredoka', sans-serif;
    overflow: hidden;
}


    


.container {
    text-align: center;
}

.header_text {
    font-size: 3em;
    color: #d32f2f;
}

.gif_container img {
    width: 100%; 
    max-width: 500px; 
    height: auto; 
}
h1, p {
    opacity: 0;
    animation: fadeIn 2s ease forwards;
    animation-delay: 1s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.header_text {
    text-shadow: 
        0 0 10px #ff80ab,
        0 0 20px #ff4081,
        0 0 30px #f50057;
}

.balloons {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
    z-index: 0;
}

.balloon {
    position: absolute;
    bottom: -60px;
    font-size: 30px;
    animation: floatUp linear forwards;
    opacity: 0.9;
}

/* движение вверх + лёгкое покачивание */
@keyframes floatUp {
    0% {
        transform: translateY(0) translateX(0);
    }
    50% {
        transform: translateY(-50vh) translateX(30px);
    }
    100% {
        transform: translateY(-110vh) translateX(-30px);
    }
}

/* чтобы текст и гифка были сверху */
.container {
    position: relative;
    z-index: 2;
}



